# This is the "everything" fragment, which enables (as modules) all
# three of the drivers that claim to support the TC9564 PCI device
# types (including TC956X_NET, DWMAC_TC956X, and DWMAC_TC9564).
CONFIG_EFI_ZBOOT=y
CONFIG_STMMAC_ETH=m
CONFIG_TC956X_NET=m
CONFIG_QCA808X_PHY=m
CONFIG_DWMAC_TC9564=m
CONFIG_STMMAC_SELFTESTS=y
